/* Create this file in your assets folder to introduce style overrides */
@font-face {
  font-family: "univers";
  src: url("/assets/fonts/univers/UniversforUniS55Rm-Regular.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Rubik:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "univers";
  color: #323232;
  font-size: 24px;
}
