{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div>
    <div class="container text-center">
      <ul>
        {{- range . }}
           <a class="badge px-2 py-2 text-bg-primary" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{- end }}
      </ul>
    </div>
  </div>
{{- end }}
