{{ define "main" }}
<main aria-role="main">
  <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
  <div class="container">
    <h1 class="display-6">{{ .Content }}</h1>
  </div>

  <!-- TODO: Find a way that the content of these boxes can be specified in front matter. -->
  <div class="container">
    <div class="container py-3 text-center overflow-hidden">
      <div class="row row-cols-2">
        <a
          href="projects/fsfw"
          class="col d-flex flex-column justify-content-center text-decoration-none"
        >
          <span
            class="bg-body-tertiary rounded d-flex flex-column flex-wrap justify-content-center my-2 px-2 py-3 border"
          >
            <h2 class="display-6">FSFW</h2>
            A C/C++ framework to develop On-Board Software for remote systems
            like satellites and rovers.
          </span>
        </a>

        <a
          href="projects/sat-rs"
          class="col d-flex flex-column justify-content-center text-decoration-none"
        >
          <div
            class="bg-body-tertiary rounded d-flex flex-column flex-wrap justify-content-center my-2 py-3 px-2 h-100 border"
          >
            <h2 class="display-6">sat-rs</h2>
            A Rust framework to develop On-Board Software for remote systems
            like satellites and rovers.
          </div>
        </a>

        <a
          href="projects/spacepackets"
          class="col d-flex flex-column justify-content-center text-decoration-none"
        >
          <div
            class="bg-body-tertiary rounded d-flex flex-column flex-wrap justify-content-center my-2 py-3 px-2 h-100 border"
          >
            <h2 class="display-6">spacepackets</h2>
            A collection of CCSDS and ECSS packet standard implementations.
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
{{ end }}
